@import "tailwindcss";

/* Set default fonts */
:root {
  --font-display: "Playfair Display", serif;
  --font-sans: "Poppins", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f5f6fa;
}
